body{
  background: rgb(27,122,142);
  background: radial-gradient(circle, rgba(27,122,142,1) 0%, rgba(2,0,36,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  color: #34344e;  
  box-sizing: border-box;
}

.app{
  width: 50vw;
  background-color: #89a7b1d5;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.438);
  outline: 2px solid white;
  margin: 0 auto;
  padding: 1em 2em;
  border-radius: 1.4em;
}

h1{
  text-align: center;
  color: #34344e;
  font-weight: bolder;
}


button{
  background-color: #333974;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.7em;
  opacity: 0.8;
  transition: 0.3s;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  opacity: 1;
}

form{
  box-sizing: border-box;
  width: 100%;
}

.todo-form{
  padding-bottom: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

input, select{
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 0.7em;
  width: 100%;
  padding: 0.7em 0;
  text-align: center;
  font-size: 0.9em;
}
